# react
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
node_modules/
jspm_packages/

# Next.js build output
.next
db.sqlite

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Static files
public/images/news
public/images/songs
